!!!5
%html{class:"no-js", lang:"es"}
	%head 
		%meta{charset:"utf-8"}
		%title Búfon taller gourmet
		%link{rel:"stylesheet", href:"/offline/style.css"}
		%meta{name:"description", content:"Come rico y barato en el mejor lugar de comida internacional de la ciudad. Los mejores tacos, chivitos, arepas, ensaladas y hamburguesas."}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%body
		%p#messaje Parece que no pudiste conectarte a internet!  No hay problema aquí está nuestra información de contacto. 
		.container
			%h1 Búfon taller gourmet
			%p 
				%strong Dirección
				La cumparsita Centro Montevideo Uruguay
			%p 
				%strong Horario
				9:am a 11 pm
			%p 
				%strong Teléfono
				123456789
			%p 
				%strong Descripción
				Restaurant de comida internacional

			#map
				%img{src:"/offline/mapa.jpg"}
				%p Este mapa ofrece referencias de ubicación del restaurante.